.s-wrapper {
  display: flex;
  width: 385px;
  align-items: center;
  padding: 0 15px;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 0 8px #ddd;
  place-content: space-between;
}

#s-logo {
  color: #1a7235;
}

.s-input {
  width: 100%;
  height: 70px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-style: italic;
}

.s-input:focus {
  outline: none;
}

@media (max-width: 960px) {
  .s-wrapper {
    width: 100%;
    min-height: 48px; // Ensure it fits the content with some extra space
    padding: 0 10px;
    background-color: transparent;
    box-shadow: none;
  }
  .search-wrapper {
    justify-content: center;
  }
  
  .s-input {
    font-size: 20px;
  }
}

.header-wrapper .header .search-wrapper .search .search-bar {
  position: unset !important;
}

body header.header-wrapper .header .mobile-nav .menu-drawer {
  z-index: 1000;
}

.hamburger-wrapper {
  z-index: 1001;
}

.search-button{
  display: none;
}

#s-logo:hover{
  background-color: transparent;
}